<!-- views/profile.ejs -->
<style>
    label {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
</style>
<!doctype html>
<html>

<head>
    <% include template.ejs%>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- load fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

</head>
<main ng-app="myApp" ng-controller='tarefaController'>


    <div class="container">
        <h4 style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Cadastro de Tarefas</h4>
        <form>
            <div class="row">
                <div class="col s8">
                    <div class="input-field">
                        <i class="material-icons prefix">calendar_today</i>
                        <input type="text" ng-model="nome" id="nome" />
                        <label for="nome" class="active">Nome da Tarefa</label>
                    </div>
                </div>
                <div class="col s3 offset-s1">
                    <div class="input-field">
                        <i class="material-icons prefix">timer</i>
                        <input type="number" ng-model="tempo" id="tempo" />
                        <label for="tempo" class="active">Tempo da Tarefa</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <a class="btn waves-effect waves-black" value='salvar' type='submit' ng-click="adicionarTarefa()" style="background-color: #fff; color:#000">
                            <i class="material-icons right">send</i>Confirmar</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <a class="voltar" href="/profile">Voltar</a>
                </div>
            </div>


        </form>
    </div>
</main>
<footer>
    <% include templateFooter.ejs%>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="../javascripts/lib/materialize.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>




<!--<script src="../public/javascripts/controller.js"></script>-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<script>
    var app = angular.module('myApp', ['ngRoute', 'ngResource']);

    app.controller('tarefaController', ['$scope', '$http', function ($scope, $http) {
        $scope.tarefas = [];

        $scope.adicionarTarefa = function () {
                var data = ({
                    nomeTarefa: $scope.nome,
                    horasTarefa: $scope.tempo,
                    order: 0,
                    forcedOrder: 0,
                    nextTask: 0
                });
                console.log(data);

                $http.post('/users/adicionarTarefa/', data).then(function (response) {
                }, function (response) {
                    console.log("erro");
                });
                swal("Parabéns! Você criou uma tarefa! ");
                $scope.nome = null;
                $scope.tempo = null;
            
        };

/*
        $scope.deletarTarefa = function (tarefa) {
            var data = ({
                nomeTarefa: tarefa.nomeTarefa,
                horasTarefa: tarefa.tempo

            });
            console.log(data);
            $http.post('users/deletarTarefa', data).then(function (response) {
                $scope.func();
            }, function (response) {
                console.log("erro");

            });
            $scope.func();
        };
        $scope.func(); */

    }])


</script>




</html>