<html>
    <style>
        body {
            background-size: cover;
            padding-top: 70px;
        }
        .blurry .blurrer {
            height: 60px;
            top: -10px;
            left: -10px;
            right: -10px;
            position: absolute;
            overflow: hidden;
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            z-index: -500;
            background-color: #2F4F4F;
            background-size: cover;
        }
        .blurry {
            background: none;
            color: white;
            border: none;
        }
        .blurry .navbar-brand {
            color: white;
            font-weight: 600;
            text-shadow: none;
        }
        .blurry .navbar-brand:hover {
            color: white;
        }
        .blurry .navbar-nav > .open > a,
        .blurry .navbar-nav > .active > a {
            color: white;
        }
        .blurry .navbar-nav > .open > a:hover,
        .blurry .navbar-nav > .active > a:hover {
            color: white;
        }
        .blurry .navbar-nav > li > a {
            color: white;
            font-weight: 500;
            text-shadow: none;
        }
        .blurry .navbar-nav > li > a:hover {
            color: white;
        }
        </style>

<nav class="navbar navbar-default navbar-fixed-top blurry">
        <div class="blurrer"></div>
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
        <div class="well">
        <p>A navigation bar blurring the page's background with pure CSS.</p>
        <p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p><p>A navigation bar blurring the page's background with pure CSS.</p>

        </div>
      </div>
  </html>