<!-- views/profile.ejs -->
<style>
    label {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
</style>
<!doctype html>
<html>

<head>
    <% include template.ejs%>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- load fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

</head>
<main ng-app="myApp" ng-controller='escalonarController'>

    <div class="container">
        <div class="row" style="margin-top: 10px"></div>
        <form>
            <div class="row">
                <h5 style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Selecione as máquinas desejadas</h4>
                    <div class="col s12">
                        <!-- <select multiple>
                                <option value="" disabled selected>Choose your option</option>
                                <option ng-repeat="tarefa in tarefas" value="{{tarefa.nomeTarefa}}">{{tarefa.nomeTarefa}}</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                        </select>
                              <label>Materialize Select</label> ideia do select-->
                        <table class="highlight responsive-table centered">
                            <tr>
                                <th>Nome da Máquina</th>
                                <th>Tipo da Máquina</th>
                                <th>Modelo da Máquina</th>
                                <th>Número Serial</th>
                                <th>Status</th>
                                <th>Observações</th>
                                <th>Selecionar</th>
                            </tr>
                            <tr ng-repeat="maquina in maquinas">
                                <td>{{maquina.nomeMaquina}}</td>
                                <td>{{maquina.tipoMaquina}}</td>
                                <td>{{maquina.modeloMaquina}}</td>
                                <td>{{maquina.serialMaquina}}</td>
                                <td>{{maquina.statusMaquina}}</td>
                                <td>{{maquina.observacoesMaquina}}</td>
                                <td><input ng-model="maquina.selected" id="checkbox{{$index}}" type="checkbox"><label for="checkbox{{$index}}"></label></label></td>
                            </tr>
                        </table>
                    </div>
            </div>
            <div class="row">
                <h5 style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Selecione as máquinas desejadas</h4>
                    <div class="col s12">
                        <!-- <select multiple>
                                <option value="" disabled selected>Choose your option</option>
                                <option ng-repeat="tarefa in tarefas" value="{{tarefa.nomeTarefa}}">{{tarefa.nomeTarefa}}</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                        </select>
                              <label>Materialize Select</label> ideia do select-->
                        <table class="highlight responsive-table centered">
                            <tr>
                                <th>Nome da Tarefa</th>
                                <th>Tempo da Tarefa</th>
                                <th>Ordem Prefixada</th>
                                <th>Ordem Forçada</th>
                                <th>Tarefa seguinte</th>
                                <th>Selecionar</th>
                            </tr>
                            <tr ng-repeat="tarefa in tarefas">
                                <td>{{tarefa.nomeTarefa}}</td>
                                <td>{{tarefa.horasTarefa}}</td>
                                <td><input ng-model="tarefa.order" type="number"></td>
                                <td><input ng-model="tarefa.forcedOrder" id="checkbox-forced{{$index}}" type="checkbox"><label for="checkbox-forced{{$index}}"></label></label></td>
                                <td><input ng-model="tarefa.nextTask" type="number"></td>
                                <td><input ng-model="tarefa.selected" id="checkbox-next{{$index}}" type="checkbox"><label for="checkbox-next{{$index}}"></label></label></td>
                            </tr>
                        </table>
                    </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <a class="btn waves-effect waves-black" value='salvar' type='submit' ng-click="escalonar(maquina, tarefa)" style="background-color: #fff; color:#000">
                            <i class="material-icons right">send</i>Confirmar</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <a class="voltar" href="/profile">Voltar</a>
                </div>
            </div>


        </form>
    </div>
</main>
<footer>
    <% include templateFooter.ejs%>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="../javascripts/lib/materialize.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>




<!--<script src="../public/javascripts/controller.js"></script>-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>

<script>
    var app = angular.module('myApp', ['ngRoute', 'ngResource']);

    app.controller('escalonarController', ['$scope', '$http', '$timeout', function ($scope, $http, $timeout) {
        
        $scope.maquinas = [];
        $scope.tarefas = [];
        var data = [];
        $scope.func = function () {
            $http.get('/users/adicionarMaquina').then(function (response) {
                $scope.maquinas = response.data;
                console.log(response.data);
            });

            $http.get('/users/adicionarTarefa').then(function (response) {
                $scope.tarefas = response.data;
            });
        }
        $scope.escalonar = function (maquina, tarefa) {

            $($scope.maquinas).each(function (){
                if(this.selected === true)
                {
                    data.push(this);
                } 
            })
            data.push('//');
            $($scope.tarefas).each(function (){
                if(this.selected === true)
                {
                    data.push(this);
                }
            })
            
            data = JSON.stringify(data);
            

            $http.post('users/escalonar', data).then(function (response){
                console.log(data);
            });
    
            data = [];
            
            // var data = ({
            //     nomeMaquina: maquina.nomeMaquina,
            //     modeloMaquina: maquina.modeloMaquina,
            //     capacidadeHoras: maquina.capacidadeHoras,
            //     tipoMaquina: maquina.tipoMaquina,
            //     observacoesMaquina: maquina.observacoesMaquina,
            //     statusMaquina: maquina.statusMaquina
            // });
            // console.log(data);
            // $http.post('users/deletarMaquina', data).then(function (response) {
            // }, function (response) {
            //     console.log("erro");

            // });

        }

  

        //           function init() {
        //     self.dialCodes = [
        //         {   "name": "United States",
        //             "dial_code": "+1",
        //             "code": "US"
        //         }, {
        //             "name": "India",
        //             "dial_code": "+91",
        //             "code": "IN"
        //         }, {
        //             "name": "United Kingdom",
        //             "dial_code": "+44",
        //             "code": "GB"
        //        }];

        //      $timeout(function () {
        //         $('select').formSelect()
        //      });
        // };
        // init();caso queira utilizar o select

    $scope.func();
    }])//script

</script>






</html>