<!-- views/profile.ejs -->
<style>
    label {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
</style>
<!doctype html>
<html>

<head>
    <% include template.ejs%>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- load fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

</head>
<main ng-app="myApp" ng-controller='quartoController'>


    <div class="container">
        <h4 style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Complete seu cadastro</h4>
        <form>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" ng-model="nome" id="nome" />
                        <label for="nome" class="active">Nome</label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" ng-model="sobrenome" id="sobrenome" />
                        <label for="sobrenome" class="active">Sobrenome</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s9">
                    <div class="input-field">
                        <i class="material-icons prefix">event_note</i>
                        <input type='text' ng-model='rua' id='rua' />
                        <label for="rua">Rua</label>
                    </div>
                </div>
                <div class="col s2 offset-s1">
                    <div class="input-field">
                        <i class="material-icons prefix" style="font-size: 25px">filter_7</i>
                        <input type='number' ng-model='numero' id='numero' />
                        <label for="numero">Número</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="input-field">
                        <i class="material-icons prefix" style="font-size: 25px">place</i>
                        <input type='text' ng-model='cidade' id='cidade' />
                        <label for="cidade">Cidade</label>
                    </div>
                </div>
                <div class="col s2 offset-s1">
                    <div class="input-field">
                        <i class="material-icons prefix" style="font-size: 25px">place</i>
                        <input type='text' ng-model='estado' id='estado' />
                        <label for="estado">Estado</label>
                    </div>
                </div>
                <div class="col s4 offset-s1">
                    <div class="input-field">
                        <i class="material-icons prefix" style="font-size: 25px">place</i>
                        <input type='number' ng-model='cep' id='cep' />
                        <label for="cep">CEP</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="input-field">
                        <i class="material-icons prefix" style="font-size: 25px">calendar_today</i>
                        <input type='date' ng-model='dataNasc' id='dataNasc' />
                        <label for="dataNasc">Data de nascimento</label>
                    </div>
                </div>
                <div class="col s4">
                    <div class="input-field">
                        <i class="material-icons prefix" style="font-size: 25px">local_phone</i>
                        <input type='number' ng-model='telefone' id='telefone' />
                        <label for="telefone">Telefone</label>
                    </div>
                </div>
                <div class="col s4">
                    <div class="input-field">
                        <i class="material-icons prefix" style="font-size: 25px">local_phone</i>
                        <input type='number' ng-model='celular' id='celular' />
                        <label for="celular">Celular</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <a class="btn waves-effect waves-black" value='salvar' type='submit' ng-click="completarCadastro()" style="background-color: #fff; color:#000">
                        <i class="material-icons right">send</i>Confirmar</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <a href="/profile">Voltar</a>
                </div>
            </div>
                        
            
        </form>
    </div>
</main>
<footer>
        <% include templateFooter.ejs%>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="../javascripts/lib/materialize.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>




<!--<script src="../public/javascripts/controller.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<script>
    var app = angular.module('myApp', ['ngRoute', 'ngResource', 'oitozero.ngSweetAlert']);
    
    app.controller('reservaController', ['$scope', '$http', function ($scope, $http) {
            $scope.maquinas = [];
            $scope.tarefas = [];
            $scope.func  = function(){
              $http.get('/users/adicionarMaquina').then(function(response)
              {
                $scope.maquinas = response.data;
              });  
            
            $http.get('/users/adicionarTarefa').then(function(response)
              {
                $scope.tarefas = response.data;
              });   
            }
            $scope.escalonar = function(){
              swal({
                title: "O resultado do seu escalonamento",
                imageUrl: "http://www.castan.pt/castan/wp-content/uploads/2014/07/img-teste-01.jpg",
                imageSize: '250x250'
  
              })
            
          }
          //   $scope.encerrar = function(quarto){
          //     swal({
          //     title: "Encerrar sua reserva?",
          //     text: "Isso não poderá ser desfeito e você terá que deixar seu quarto - Não se esqueça de avaliar sua estadia!",
          //     type: "warning",
          //     showCancelButton: true,
          //     confirmButtonColor: "#DD6B55",
          //     confirmButtonText: "Confirmar",
          //     closeOnConfirm: false}, 
          //     function(){ 
          //         var data = ({
          //             _id: quarto._id,
          //             titulo: $scope.titulo,
          //             rua: $scope.rua,
          //             numero: $scope.numero,
          //             cidade: $scope.cidade,
          //             estado: $scope.estado,
          //             preco: quarto.preco,
          //             data_inicio: $scope.data_inicio,
          //             data_fim: $scope.data_fim,
                      
          //         });
  
          //     console.log($scope.starRating1);
  
          //     $http.post('/users/encerrarReserva/', data).then(function (response) {
                  
          //   }, function (response) {
          //   console.log("erro");
          // });
          // swal("Sua reserva foi cancelada com sucesso!");
          // $scope.func();
          //     }
          //     );
  
          //   }
          $scope.func();
          
  
    }])//script
    
    </script>






</html>