<div class="navbar-fixed">  
        <nav class="grey darken-4" role="navigation">
            <div class="nav-wrapper">
              <a id="logo-container" href="/" class="brand-logo center" name="logo"><img src="../assets/logold.png" style="width:100px; height: 64px;" alt=""></a>
              
        
              <ul class="left">
                <li><a data-activates="slide-out" class="my-btn" href="#"><i class="material-icons">menu</i></a></li>
                <!-- <li><a href="/profile" style="font-size:18px">Olá, <%= user.nome %></a></li>
                <li><a href="/adicionarMaquina" style="font-size:18px">Cadastrar Máquinas</a></li>
                <li><a href="/escalonar" style="font-size:18px">Escalonar</a></li>
                <li><a href="/adicionarTarefa" style="font-size:18px">Cadastrar Tarefas</a></li> -->
              </ul> 
              <ul class="right">
                <li><a href="/logout" class="logout-btn">Logout</a></li>
              </ul>
        
            </div>
          </nav>
</div>