<!-- Header -->
<style>
    .parallax-container .parallax img{
        opacity: 1 !important;
        display: block;
    }
</style>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
      <link rel="stylesheet" type="text/css" href="../node_modules/sweetalert/lib/sweet-alert.css">
      <link href="../stylesheets/lib//materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">



<nav class="grey darken-4">
    <div class="nav-wrapper">
                      <a id="logo-container" href="/" class="brand-logo center" name="logo"><img src="../assets/logold.png" style="width:100px; height: 64px;" alt=""></a>
                 
      <ul class="right hide-on-med-and-down">
        <li class="hoverable" ><a href="/login" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 18px;">Login</a></li>
      </ul>
    </div>
  </nav>
  
  
  <!-- Content -->
  <div class="parallax-container center valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 white-text">
          <h2 class="white-text" style="text-shadow: #000 1px 1px 0, #000 1px 1px 0;">Máquinas e Escalonamento</h2>
          <p style="text-shadow: #000 1px 1px 0;">Solução para facilitar o processo de organização de tarefas</p>
          <a href="/signup" class="waves-effect waves-light btn-large white" style="color:black">Cadastre-se</a>
        </div>
      </div>
    </div>
    
    <div class="parallax">
      <img src="../assets/fundo_maquinas.jpeg">
    </div>
  
  </div>
  
  <div class="container">
    <div class="row">
       <div class="col m4 s12">
         <div class="icon-block">
           <h2 class="center blacktext">
             <i class="material-icons">flash_on</i>  
           </h2>
           <h5 class="center">Aumente o desempenho de sua companhia</h5>
           <p class="light">
             Diminua o tempo ocioso, facilite o processo e garanta um melhor controle sobre a qualidade dos seus produtos. E o melhor, reduzindo os custos envolvidos.
           </p>
         </div>
         
       </div>
       <div class="col m4 s12">
         <div class="icon-block">
           <h2 class="center black-text">
             <i class="material-icons">group</i>  
           </h2>
           <h5 class="center">Foco no usuário</h5>
           <p class="light">
             Interface intuitiva e de fácil utilização que diminuem o tempo de aprendizado do sistema. Fácil de utilizar, resultados surpreendentes.
           </p>
         </div> 
       </div>
       <div class="col m4 s12">
         <div class="icon-block">
           <h2 class="center blacktext">
             <i class="material-icons">settings</i>  
           </h2>
           <h5 class="center">Resultados intuitivos e eficientes</h5>
           <p class="light">
             Obtenha seus resultados de forma prática e simples, gere novos cenários e acompanhe tudo enquanto o processo está ocorrendo.
           </p>
         </div> 
       </div>
     </div>
  </div>
  
  <div class="parallax-container center valign-wrapper">
    <div class="parallax"><img src="../assets/eng.jpg">
    </div>
    
    <div class="container white-text">
      <div class="row">
        <div class="col s12">
          <h4 style="text-shadow: #000 1px 1px 0, #000 1px 1px 0;">Fácil de utilizar e eficiente, você nunca viu nada parecido</h5>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container center-align">
   <div class="section">
      <div class="row">
      <div class="col s12">
        <h4>Máquinas & Escalonamento</h4>
        <p class="light left-align">
          O sistema de Máquinas e Escalonamento é ideal para empresas que estão precisando de otimização em seus processos de produção. Cadastre suas máquinas, cadastre suas tarefas e receba uma ordem de realização otimizada e ideal para minimizar seus custos e tempo. Simples e fácil, intuitivo e poderoso, você irá se surpreender com os resultados ao aplicar o sistema em sua empresa.
        </p>
      </div>      
    </div>
    </div>
  </div>
  
  <div class="parallax-container center valign-wrapper">
    <div class="parallax"><img src="../assets/tasks.jpg">
    </div>
    
    <div class="container white-text">
      <div class="row">
        <div class="col s12">
          <h4 style="text-shadow: #000 1px 1px 0, #000 1px 1px 0;">O melhor jeito de organizar os processos de sua empresa</h5>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col s6">
          <h5 class="white-text">Autores</h5>
          <p class="grey-text text-lighten-4">
            Sistema criado por Bruno de Castro Celestino e Gabriel Nistardo Bourg, como parte do trabalho de conclusão de curso de Eng. da Computação.
          </p>
        </div>
        
        <div class="col s3 offset-s3">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a href="/login" class="grey-text text-lighten-3">Login</a>
            </li>
            <li>
              <a href="/signup" class="grey-text text-lighten-3">Cadastre-se</a>
            </li>
            <li>
              <a href="/" class="grey-text text-lighten-3">Contato</a>
            </li>
          </ul>
        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <a href="#!" class="grey-text text-lighten-3">Link 1</a>
            </li>
            <li>
              <a href="#!" class="grey-text text-lighten-3">Link 2</a>
            </li>
            <li>
              <a href="#!" class="grey-text text-lighten-3">Link 3</a>
            </li>
            <li>
              <a href="#!" class="grey-text text-lighten-3">Link 4</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  
  <!-- <script type="text/javascript" src="../javascripts/lib/materialize.min.js"></script> -->
  
  <script src="../public/javascripts/controller.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  <script>
$(document).ready(function(){
  $('.parallax').parallax();
});
  </script>