<!-- Header -->
<style>
        .parallax-container .parallax img{
            opacity: 1 !important;
            display: block;
        }
        .text-stroke{
           /* -webkit-text-stroke: 2px red !important;*/
            text-shadow: 2px 2px 5px #000000, 0px 0px 5px #000; 
            /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
        }
        .avatar{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
        }
        .avatarclass{
            border:4px solid rgba(0, 0, 0, 0.78);
            border-radius: 500px;
            -webkit-border-radius: 500px;
            -moz-border-radius: 500px;
        }

</style>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../node_modules/sweetalert/lib/sweet-alert.css">
<link href="../stylesheets/lib//materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    
<head>
    <div class="navbar-fixed">
    <nav class="grey darken-4" id="navbar1">
        <div class="nav-wrapper">
                          <a id="logo-container" href="/" class="brand-logo center" name="logo"><img src="../assets/logold.png" style="width:100px; height: 64px;" alt=""></a>
                     
          <ul class="right hide-on-med-and-down">
            <li class="hoverable" id="btnLogin" ><a href="/login" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 18px;">Login</a></li>
          </ul>
          <ul class="left">
                <li><a data-activates="slide-out" class="my-btn" href="#"><i class="material-icons">menu</i></a></li>
                <!-- <li><a href="/profile" style="font-size:18px">Olá, <%= user.nome %></a></li>
                <li><a href="/adicionarMaquina" style="font-size:18px">Cadastrar Máquinas</a></li>
                <li><a href="/escalonar" style="font-size:18px">Escalonar</a></li>
                <li><a href="/adicionarTarefa" style="font-size:18px">Cadastrar Tarefas</a></li> -->
              </ul>
        </div>
      </nav>
      </div>
      <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
              <div class="background">
                <img src="https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&h=350">
              </div>
              <a href="#user"><img class="circle" src="https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&h=350"></a>
              <a href="#name"><span class="black-text name effect-4" id="nome_sidebar"><%= user.nome %></span></a>
              <a href="#email"><span class="black-text email"><%= user.email %></span></a>
            </div></li>
            <li><a href="#!" class="waves-effect"><i class="material-icons">cloud</i>Perfil</a></li>
            <li><a href="/adicionarMaquina" class="waves-effect"><i class="material-icons">build</i>Cadastrar Máquinas</a></li>
            <li><a href="/escalonar" class="waves-effect"><i class="material-icons">web</i>Escalonar</a></li>
            <li><a href="/adicionarTarefa" class="waves-effect"><i class="material-icons">volume_up</i>Cadastrar tarefas</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
          </ul>
</head>    
<main>
      <!-- Content -->
      <div class="parallax-container center valign-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 white-text">
            <img src="../assets/background3.jpg" id="avatar1" style="width: 128px;height: 128px;" alt="" class="circle responsive-img avatarclass"> <!-- notice the "circle" class -->
              <p></p>
              <h2 class="white-text text-stroke" style="padding-top: 30px" id="nome1">Bom dia, <%= user.nome %></h2>
              <!-- <p>A modern responsive front-end framework based on Material Design</p>
              <a href="/signup" class="waves-effect waves-light btn-large teal lighten-2">Cadastre-se</a> -->
            </div>
          </div>
        </div>
        
        <div class="parallax"><img src="../assets/background2.jpg"></div>
      
      </div>
      
      <div class="container">
        <div class="row">
           <div class="col m4 s12">
             <div class="icon-block">
               <h2 class="center light-blue-text">
                 <i class="material-icons">flash_on</i>  
               </h2>
               <h5 class="center">Speeds up development</h5>
               <p class="light">
                 We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
               </p>
             </div>
             
           </div>
           <div class="col m4 s12">
             <div class="icon-block">
               <h2 class="center light-blue-text">
                 <i class="material-icons">group</i>  
               </h2>
               <h5 class="center">User Experience Focused</h5>
               <p class="light">
                 By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
               </p>
             </div> 
           </div>
           <div class="col m4 s12">
             <div class="icon-block">
               <h2 class="center light-blue-text">
                 <i class="material-icons">settings</i>  
               </h2>
               <h5 class="center">Easy to work with</h5>
               <p class="light">
                 We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
               </p>
             </div> 
           </div>
         </div>
      </div>
</main>     
     
      
      <!-- Footer -->
      <footer>
            <% include templateFooter.ejs%>
      </footer>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      
      <!-- <script type="text/javascript" src="../javascripts/lib/materialize.min.js"></script> -->
      
      <script src="../public/javascripts/controller.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
        });
        $(document).ready(function(){
        $('.parallax').parallax();
        });
        $('.my-btn').click(function(){
        $('.sidenav').sidenav('open');
        });
        
        // var d = new Date();
        // var nome = $('#nome_sidebar').val();
        // if(d.getHours() > 12 && d.getHours() < 18)
        // {
        //     var x = $('#nome1').val();
        //     x = x.substr(x.indexOf(",") + 1);
        //     $('#nome1').html("Boa tarde, " + nome);
            
        // }
        // else if(d.getHours() >= 18 && d.getHours() < 6)
        // {
        //     var x = $('#nome1').val();
        //     x = x.substr(x.indexOf(",") + 1);
        //     $('#nome1').html("Boa noite, " + nome);
        // }
        // else
        // {
        //     var x = $('#nome1').val();
        //     x = x.substr(x.indexOf(",") + 1);
        //     $('#nome1').html("Boa tarde2, " + nome);
        // }
        
        var lastScrollTop = 0;
        $(window).scroll(function(event){
        var st = $(this).scrollTop();
        if (st > lastScrollTop){
            $('#logo-container').hide();
            $('#navbar1').removeClass("grey");
            $('#navbar1').removeClass("darken-4");
            $('#navbar1').addClass("transparent");
            $('#btnLogin').addClass("text-stroke");
            $('.my-btn').addClass("text-stroke");
            $('#avatar1').addClass("avatar");
        } else {
            // upscroll code
        }
        lastScrollTop = st;
        });

        $(window).scroll(handleHitTop);

        function handleHitTop(event) {
            var currentScrollTopValue = $(this).scrollTop();

            if (handleHitTop.lastTop === undefined) {
                handleHitTop.lastTop = currentScrollTopValue ;

                return;
            }

            if (handleHitTop.lastTop == 0 && currentScrollTopValue == 0) {
                return;
            }

            handleHitTop.lastTop = currentScrollTopValue;

            if (handleHitTop.lastTop == 0) {
            $('#logo-container').show();
            $('#navbar1').removeClass("transparent");
            $('#navbar1').addClass("grey");
            $('#navbar1').addClass("darken-4");
            $('#btnLogin').removeClass("text-stroke");
            $('.my-btn').removeClass("text-stroke");
            $('#avatar1').removeClass("avatar");
            }
        }

      </script>