<!-- views/signup.ejs -->
<!doctype html>
<html>
    <style>
      body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    
    </style>
<head>
    <% include template.ejs%>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<main>
        
        <div class="row">

                <div class="col s4">
                  <!-- Promo Content 1 goes here -->
                </div>
                <div class="col s4">
                        <h1><span class="fa fa-sign-in"></span> Cadastre-se</h1>

                        <!-- show any messages that come back with authentication -->
                        <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                        <% } %>
                
                    <!-- LOGIN FORM -->
                        <form action="/signup" method="post" class='input-field'>
                            <div class="form-group">
                                <!-- <input type="text" placeholder="email" name="email"> -->
                                <div class="input-field">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="senha" name="password">
                            </div>
                        <!--<a class="waves-effect waves-light btn pink darken-2" type='submit'>Cadastrar</a>-->
                            <button type="submit" class="btn btn-warning btn-lg">Cadastrar</button>
                        </form>
                </div>
                <div class="col s4">
                  <!-- Promo Content 3 goes here -->
                </div>
          
        </div>
<footer>
        <% include templateFooter.ejs%>
  </footer>
</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="../javascripts/lib/materialize.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $('.my-btn').hide();
    $('.logout-btn').html("")
</script>
</html>
