<html>
    <head>
            
            <% include template.ejs%>
    </head>
    <main>

 
    Teste
    <div class="card-panel hoverable"> Hoverable Card Panel</div>
    <div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div><div class="card-panel hoverable"> Hoverable Card Panel</div>

    </main>
    <footer>
            <% include templatefooter.ejs%>
    </footer>
</html>